
hidden_Code/RELICS_plotHeatmap.r
Public_data/Fulco_2016/Final_data/fulco_2016_myc_chr8_info.csv
Public_data/Fulco_2016/Final_data/Fulco_2016_MYC_exonLoc.csv
Public_data/Fulco_2016/Final_data/fulco_gata1_2016_counts.csv
Public_data/Fulco_2016/Final_data/fulco_gata1_2016_info.csv
Public_data/Fulco_2016/Final_data/fulco_myc_2016_counts.csv
Public_data/Fulco_2016/Published_results/.Rhistory
Public_data/Fulco_2016/Published_results/Fulco_2016_allResults.csv
Public_data/Fulco_2016/Published_results/fulco_2016_GATA1_crisperiPeaks.csv
Public_data/Fulco_2016/Published_results/fulco_2016_GATA1_putativeEnh.csv
Public_data/Fulco_2016/Published_results/fulco_2016_GATA1_validatedEnh.bed
Public_data/Fulco_2016/Published_results/fulco_2016_GATA1_validatedEnh.csv
Public_data/Fulco_2016/Published_results/fulco_2016_MYCenh.bed
Public_data/Fulco_2016/Published_results/fulco_2016_MYCenh.csv
Public_data/Fulco_2016/Raw_data/Fulco_2016_screening_data_S2_CSV.csv
Simulated_data/Simulation_data.tar.gz
hidden_Code/RELICS_plot_prAUCs.r
hidden_Code/RELICS_publicDataAnalysis.r
Public_data/Fulco_2016/Final_data/.Rhistory
Public_data/Fulco_2016/Final_data/fulco_2016_gata1_chrX_counts.csv
Public_data/Fulco_2016/Final_data/fulco_2016_gata1_chrX_info.csv
Public_data/Fulco_2016/Final_data/Fulco_2016_GATA1_exonLoc.csv
Public_data/Fulco_2016/Final_data/fulco_2016_myc_chr8_counts.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_simAnalysis_perGenomeRegion.txt
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegionRELICS_repl2_foldParEst.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegionRELICS_repl1_foldParEst.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_parSummary.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_guideScores.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_guideScores.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_guideScores.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_guideScores.csv
Tests/test_data/test_sim/test_sim_sim1_info.csv
Tests/test_data/test_sim/test_sim_sim1_enhancers.csv
Tests/test_data/test_sim/test_sim_sim1_counts.csv
Tests/test_data/File_legend.txt
Tests/test_Code/test_allPostScoringMethods.r
Public_data/Simeonov_Gowen_2017/Raw_data/Simeonov_Gowen_2017_IL2RA_raw.csv
Public_data/Simeonov_Gowen_2017/Raw_data/Simeonov_Gowen_2017_CD69_raw.csv
Public_data/Simeonov_Gowen_2017/Published_results/Simeonov_Gowen_IL2RA_validatedRegions.csv
Public_data/Simeonov_Gowen_2017/Published_results/Simeonov_Gowen_IL2RA_validatedRegions.bed
Public_data/Simeonov_Gowen_2017/Published_results/Simeonov_Gowen_IL2RA_CaREs.csv
Public_data/Simeonov_Gowen_2017/Published_results/Simeonov_Gowen_IL2RA_CaREs.bed
Public_data/Simeonov_Gowen_2017/Published_results/Simeonov_Gowen_CD69_CaREs.csv
Public_data/Simeonov_Gowen_2017/Published_results/Simeonov_Gowen_CD69_CaREs.bed
Public_data/Simeonov_Gowen_2017/Final_data/Simeonov_Gowen_2017_finalData_readme.txt.txt
Public_data/Simeonov_Gowen_2017/Final_data/IL2RA_info_NAneg.csv
Public_data/Simeonov_Gowen_2017/Final_data/IL2RA_info.csv
Public_data/Simeonov_Gowen_2017/Final_data/IL2RA_counts.csv
Public_data/Simeonov_Gowen_2017/Final_data/CD69_info_NAneg.csv
Public_data/Simeonov_Gowen_2017/Final_data/CD69_info.csv
Public_data/Simeonov_Gowen_2017/Final_data/CD69_counts.csv
Public_data/Simeonov_Gowen_2017/Additional_data/il2ra_hg19.bed
Public_data/Simeonov_Gowen_2017/Additional_data/IL2RA_exons.csv
Public_data/Simeonov_Gowen_2017/Additional_data/cd69_hg19.bed
hidden_Code/RELICS_convertResultsToCRISPRformat.r
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_element_prAUC.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_element_prAUC.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_guide_prAUC.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_guide_prAUC.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_region_prAUC.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_region_prAUC.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/perElement_method_eval.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/perGuide_method_eval.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/perRegion_method_eval.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_AUCeval.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_alphaRRA.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_alphaRRA.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_alphaRRA_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_genomeScores.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_genomeScores.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_genomeScores_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_slidingWindow.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_slidingWindow.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_DESeq2_slidingWindow_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_alphaRRA.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_alphaRRA.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_alphaRRA_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_genomeScores.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_genomeScores.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_genomeScores_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_slidingWindow.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_slidingWindow.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_edgeR_slidingWindow_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_alphaRRA.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_alphaRRA.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_alphaRRA_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_genomeScores.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_genomeScores.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_genomeScores_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_slidingWindow.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_slidingWindow.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_FoldChange_slidingWindow_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_perElement_AUCeval.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_perElement_prAUCeval.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_perRegion_AUCeval.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_perRegion_prAUCeval.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_prAUCeval.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_alphaRRA.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_alphaRRA.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_alphaRRA_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_genomeScores.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_genomeScores.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_genomeScores_plotSeparateChroms_chr8_.pdf
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_slidingWindow.bedgraph
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_slidingWindow.csv
Tests/test_simulation_analysis/test_sim_simAnalysis_perGenomeRegion/test_sim_sim1/test_sim_simAnalysis_perGenomeRegion_RELICS_slidingWindow_plotSeparateChroms_chr8_.pdf
Public_analysis/Fulco_2017_MYC_analysis/Fulco_2017_MYC_RELICS_genomeScores.bedgraph
Public_analysis/Simeonov_Gowen_2017_IL2RA_analysis/negative_significant_regions.bed
Public_analysis/Simeonov_Gowen_2017_IL2RA_analysis/neglog10_pvals.bedgraph
Public_analysis/Simeonov_Gowen_2017_IL2RA_analysis/positive_significant_regions.bed
Public_analysis/Simeonov_Gowen_2017_IL2RA_analysis/Simeonov_Gowen_2017_IL2RA_DESeq2_genomeScores.bedgraph
Public_analysis/Simeonov_Gowen_2017_IL2RA_analysis/Simeonov_Gowen_2017_IL2RA_FoldChange_genomeScores.bedgraph
Public_analysis/Simeonov_Gowen_2017_IL2RA_analysis/Simeonov_Gowen_2017_IL2RA_RELICS_genomeScores.bedgraph
hidden_Code/RELICS_publicDataAnalysis_19_03_20.r
hidden_Code/RELICS_plotHeatmap_gScoreRRAsWindow.r
hidden_Code/RELICS_simulationFDR_combSims.r
hidden_Code/RELICS_simulationFDR.r
hidden_Code/RELICS_guide_prAUC_calculation.r
hidden_Code/RELICS_generate_prAUCfiles.r
hidden_Code/example_simulate_fulco.r
Example_performanceEval/.Rhistory
